/* common  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility  */
.debug{
    border: 1px dashed black;
    header{
        background-color: aliceblue;
    }
}

/* header  */
.hd-flex-container{
    display: flex;
    justify-content: center;
}

.header-size{
    width: 60%;
    margin: auto;
}

header{
    min-height: 3rem;
}

#menu.hd-flex-container div:nth-child(2){
    width: 70%;
    text-align: center;
    padding: 5px;
}

#menu.hd-flex-container div:nth-child(1){
    width: 15%;
    padding: 5px;
}

#menu.hd-flex-container div:nth-child(3){
    width: 15%;
    text-align: right;
    padding: 5px;
}

ul{
    list-style: none;
    li{
        margin-right: 1rem;
    }
    a{
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
            color: blue;
        }
    }
}

#menu{
    background-color: gold;
}

/* jumbotron  */
.jt-flex-container{
    display: flex;
    justify-content: center;
}

.jt-section-size{
    width: 50%;
    margin: auto;
    min-height: 20rem;
}

#jumbotron{
    min-height: 30rem;
    background-color: blue;
}

#jumbotron-content{
    background-color: palevioletred;
    
}


/* common invite, community, fandom, sections  */
.section-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-flex-container{
    display: flex;
}

.section-size{
    width: 70%;
    margin: auto;
    min-height: 20rem;
}

#invite-only, #fandom{
    background-color: white;
    min-height: 30rem;
}

.section-content div:nth-child(1){
    background-color: cornflowerblue;
    min-width: 60%;
}

.section-content div:nth-child(2){
    background-color: pink;
    min-width: 40%;
}

/* community  */
.community-flex-container{
    display: flex;
    flex-direction: row-reverse;
}

#community{
    background-color: lightgrey;
    min-height: 30rem;
}

/* technology  */
#tech{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    background-color: lightgrey;
}

#tech-content{
    background-color: green;
    min-height: 45rem;
}