/* common  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
}

.section-size{
    width: 60%;
    margin: auto;
}

/* utility  */
.debug{
    border: 1px dashed black;
    header{
        background-color: aliceblue;
    }
}

.flex-container{
    display: flex;
    justify-content: center;
}

/* header  */
header{
    min-height: 3rem;
}

div.flex-container div:nth-child(2){
    width: 70%;
    text-align: center;
    padding: 5px;
}

div.flex-container div:nth-child(1){
    width: 15%;
    padding: 5px;
}

div.flex-container div:nth-child(3){
    width: 15%;
    text-align: right;
    padding: 5px;
}

ul{
    list-style: none;
    li{
        margin-right: 1rem;
    }
    a{
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
            color: blue;
        }
    }
}

#menu{
    background-color: gold;
}

/* jumbotron  */
#jumbotron{
    min-height: 30rem;
    background-color: blue;
}

#jumbotron-content{
    background-color: palevioletred;
    min-height: 20rem;
}